DB_URL=jdbc:postgresql://supabase-db:5432/postgres
DB_USER=postgres
DB_PASS=change_me
SERVER_PORT=8019
SPRING_JPA_SHOW_SQL=false
APP_SEED_ENABLED=false
ADMIN_EMAIL=admin@example.com

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me

SUPABASE_PUBLIC_URL=http://localhost:8000
SUPABASE_GATEWAY_PORT=8000
SITE_URL=http://localhost:8019
ADDITIONAL_REDIRECT_URLS=
DISABLE_SIGNUP=false
ENABLE_EMAIL_SIGNUP=true
ENABLE_EMAIL_AUTOCONFIRM=true

JWT_SECRET=change_me
JWT_EXPIRY=3600
ANON_KEY=change_me
SERVICE_ROLE_KEY=change_me
