<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<!--Hacer thymeleaf de reservas y corregir posibles errores-->
<head>
    <meta charset="UTF-8">
    <title>Reservas</title>
</head>

<body>
<h1>Reservas</h1>
    <section th:if="${seccion == 'inicio'}">
        <article>
            <h2>Bautismos y Cursos</h2>
            <p>Reserva bautimos o cursos para mejorar tu nivel de buzeo</p>
            <a th:href="@{/reservas/cursos}">Reservar curso</a>
        </article>

        <article>
            <h2>Actividades</h2>
            <p>Reserva de inmersiones, snorkel y muchas mas por descubrir</p>
            <a th:href ="@{/reservas/actividades}">Reserva actividad</a>
        </article>
    </section>

        <section th:if="${seccion == 'formulario'}">
            <h2 th:text="${titulo}">Nueva reserva - Actividad</h2>
            <form th:action="@{/reservas/guardar}" th:object="${reservaForm}" method="post">

                    <label for="idActividad" th:text="${titulo}">Actividades</label>
                    <select id="idActividad" th:field="*{idActividad}" required>
                        <option value="">Seleccione una opcion</option>
                        <option th:each="actividad : ${actividades}"
                                th:value="${actividad.idActividad}"
                                th:text="${actividad.nombre + ' - ' + actividad.tipo + ' - ' + actividad.precio + ' €'">

                        </option>
                    </select>
                    <br>
                    <label for="Act-nombre">Nombre</label>
                    <input id="Act-nombre" type="text" th:field="*{nombre}" required>

                    <label for="Act-apellidos">Apellidos</label>
                    <input id="Act-apellidos" type="text" th:field="*{apellidos}" required>

                    <label for="Act-email">Email</label>
                    <input id="Act-email" type="email" th:field="*{email}" required>

                    <label for="Act-telefono">Telefono</label>
                    <input id="Act-telefono" type="text" th:field="*{telefono}" required>

                    <label for="Act-dni">DNI</label>
                    <input id="Act-dni" type="text" th:field="*{dni}">
                    <label for="Act-numParticipantes">Indique el numero de participantes</label>
                    <input id="Act-numParticipantes" type="number" th:field="*{numParticipantes}" min="1" required>
                    <button type="submit">Guardar reserva</button>
            </form>
                <a th:href="@{/reservas}">Volver</a>
        </section>

        <section th:if="${seccion == 'formulario'}">
            <h2 th:text="${titulo}">Nueva reserva - Curso</h2>
            <form th:action="@{/reservas/guardar}" th:object="${reservaForm}" method="post">

                <label for="idCurso" th:text="${titulo}">Cursos</label>
                <select id="idCurso" th:field="*{idCurso}" required>
                    <option value="">Seleccione una opcion</option>
                    <option th:each="curso : ${cursos}"
                            th:value="${curso.idCurso}"
                            th:text="${curso.nombre + ' - ' + curso.tipo + ' - ' + curso.precio + ' €'">

                    </option>
                </select>
                <br>
                <label for="cur-nombre">Nombre</label>
                <input id="cur-nombre" type="text" th:field="*{nombre}" required>

                <label for="cur-apellidos">Apellidos</label>
                <input id="cur-apellidos" type="text" th:field="*{apellidos}" required>

                <label for="cur-email">Email</label>
                <input id="cur-email" type="email" th:field="*{email}" required>

                <label for="cur-telefono">Telefono</label>
                <input id="cur-telefono" type="text" th:field="*{telefono}" required>

                <label for="cur-dni">DNI</label>
                <input id="cur-dni" type="text" th:field="*{dni}">Act-
                <button type="submit">Guardar reserva</button>
            </form>
            <a th:href="@{/reservas}">Volver</a>
        </section>
    </body>
</html>